In [30]:
import pandas as pd

def process_data(file_path):
    processed_data = []
    current_day = None
    
    with open(file_path, 'r', encoding='utf-8') as file:
        for line in file:
            line = line.strip()
            if "Start :" in line:
                current_day = line.split()[-1]
            elif line.count(',') == 3:
                day, hour, forecast, value = line.split(',')
                if not day.isnumeric():
                    continue
                
                hour = pd.to_numeric(hour[:-2])
                if hour != 8:
                    continue
                
                forecast = pd.to_numeric(forecast.replace('+', ''))
                if forecast < 7 or forecast > 30:
                    continue
                
                date = pd.to_datetime(current_day) + pd.Timedelta(days=int(1))
                time = hour + forecast + 9 - 24
                
                processed_data.append([date, time, value])
                
    return pd.DataFrame(processed_data, columns=['day', 'time', 'value'])

In [31]:
file_path = '건국동_하늘상태_20220630_20220831.csv'

data = pd.read_csv(file_path, encoding='utf-8')
data.head(10)

          format: day   hour  forecast  value
0      location:59_76    NaN       NaN    NaN
1   Start : 20220630     NaN       NaN    NaN
2                  30  200.0       6.0    4.0
3                  30  200.0       7.0    4.0
4                  30  200.0       8.0    3.0
5                  30  200.0       9.0    3.0
6                  30  200.0      10.0    3.0
7                  30  200.0      11.0    3.0
8                  30  200.0      12.0    1.0
9                  30  200.0      13.0    1.0

In [32]:
processed_data = process_data(file_path)
processed_data.head(10)

         day  time     value
0 2022-07-01     0  1.000000
1 2022-07-01     1  1.000000
2 2022-07-01     2  1.000000
3 2022-07-01     3  1.000000
4 2022-07-01     4  1.000000
5 2022-07-01     5  1.000000
6 2022-07-01     6  1.000000
7 2022-07-01     7  3.000000
8 2022-07-01     8  4.000000
9 2022-07-01     9  4.000000

In [33]:
new_file_path = file_path.split('.')[0] + '_filtered.csv'
processed_data.to_csv(new_file_path, index=False)